<main>
    <section class="lowlark">
        <div class="wrapper">
            <div class="column">
                <img src="img/Home-LL.png" alt="LL-comouter">
            </div>
            <div class="column">
                <h1>LOWLARK</h1>
                <h5>Web Design Company.</h5>
                <p><strong>We make projects quick, <br/>efficiently and beautiful.</strong></p>
                <button class="button-purple">PORTFOLIO</button>
                <button class="button-white">ABOUT US</button>
            </div>
        </div>
    </section>
    <section class="old-new">
        <div class="wrapper">
            <h3 class="bold font60">turning <span class="font90">old</span> <span class="gloria">design</span></h3>
            <h1 class="font100">into</h1>
            <h3 class="bold font60"><span class="font90">new</span> <span class="gloria">ones</span></h3>
            <img src="img/Home-Old.png" alt="Old">
        </div>
    </section>
    <section class="desires">
        <div class="wrapper">
            <p class="font48 bold">listen <span class="font72">carefully</span> to you</p>
            <div class="desires__shift_left">
                <p class="font48 bold">&</p>
                <p class="font48 bold"><span class="font72">understand</span> your <span class="gloria">desires</span></p>
            </div>
            <div class="desires__photo">
                <img src="img/Home-Desires.png" alt="your-desires">
            </div>
        </div>
    </section>
    <section class="style">
        <div class="wrapper">
            <p class="font60 bold">we <span class="font90">know</span></p>
            <p class="font60 bold"><span class="font90">what</span> is <span class="gloria">style</span></p>
            <img src="img/Home-Style.png" alt="style">
        </div>
    </section>
</main>